@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

/* html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Nunito Sans", sans-serif; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  height: 100vh;
  /* overflow: hidden; */
}

header,
main {
  background-color: #f3f4f6;
}

.min-h-screen {
  min-height: 100vh;
}

.ml-auto {
  margin-left: auto;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.text-red-100 {
  --text-opacity: 1;
  color: #fff5f5;
  color: rgba(255, 245, 245, var(--text-opacity));
}

.text-red-200 {
  --text-opacity: 1;
  color: #fed7d7;
  color: rgba(254, 215, 215, var(--text-opacity));
}

.text-red-300 {
  --text-opacity: 1;
  color: #feb2b2;
  color: rgba(254, 178, 178, var(--text-opacity));
}

.text-red-400 {
  --text-opacity: 1;
  color: #fc8181;
  color: rgba(252, 129, 129, var(--text-opacity));
}

.text-red-500 {
  --text-opacity: 1;
  color: #f56565;
  color: rgba(245, 101, 101, var(--text-opacity));
}

.text-red-600 {
  --text-opacity: 1;
  color: #e53e3e;
  color: rgba(229, 62, 62, var(--text-opacity));
}

.text-red-700 {
  --text-opacity: 1;
  color: #c53030;
  color: rgba(197, 48, 48, var(--text-opacity));
}

.text-red-800 {
  --text-opacity: 1;
  color: #9b2c2c;
  color: rgba(155, 44, 44, var(--text-opacity));
}

.text-red-900 {
  --text-opacity: 1;
  color: #742a2a;
  color: rgba(116, 42, 42, var(--text-opacity));
}

.fill-current {
  fill: currentColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.text-base {
  font-size: 1rem;
}

.text-gray-800 {
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.font-light {
  font-weight: 390;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.space-y-4> :not(template)~ :not(template) {
  --space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--space-y-reverse)));
  margin-bottom: calc(1rem * var(--space-y-reverse));
}

.md\:flex-row {
  flex-direction: row;
}

.md\:justify-between {
  justify-content: space-between;
}

.md\:items-center {
  align-items: center;
}

.md\:items-start {
  align-items: flex-start;
}

.cursor-pointer {
  cursor: pointer;
}

.p-2 {
  padding: 0.5rem;
}

.items-center {
  align-items: center;
}

.text-gray-100 {
  --text-opacity: 1;
  color: #f7fafc;
  color: rgba(247, 250, 252, var(--text-opacity));
}

.bg-white {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.text-sm {
  font-size: 0.875rem;
}

.uppercase {
  text-transform: uppercase;
}

.w-6 {
  width: 1.5rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.m-4 {
  margin: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.md\:w-3\/6 {
  width: 50%;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.md\:px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.space-y-4> :not(template)~ :not(template) {
  --space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--space-y-reverse)));
  margin-bottom: calc(1rem * var(--space-y-reverse));
}

.overflow-y-auto {
  overflow-y: auto;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.text-left {
  text-align: left;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.text-2xl {
  font-size: 1.5rem;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.cursor-pointer {
  cursor: pointer;
}

.text-gray-100 {
  color: #f7fafc;
}

.c-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.cancelIcon {
  cursor: pointer;
  display: inline-block;
}

.cancelSvg {
  stroke-width: 2;
  transition: stroke 0.3s ease;
}

.cancelIcon:hover .cancelSvg {
  stroke: red;
}

.c-py-1 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.h-full {
  height: 100%;
}

.c-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.hidden {
  display: none;
}

.opacity-50 {
  opacity: 0.5;
}

.bg-black {
  --bg-opacity: 1;
  background-color: #000;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
}

.bg-red-200 {
  background-color: #fed7d7;
}

.top-0 {
  top: 0;
}

.z-30 {
  z-index: 30;
}

.left-0 {
  left: 0;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.w-full {
  width: 100%;
}

.bg-green-200 {
  background-color: #c6f6d5;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.w-full {
  width: 100%;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.flex-col {
  flex-direction: column;
}

.md\:pb-6 {
  padding-bottom: 1.5rem;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-y-1> :not(template)~ :not(template) {
  --space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--space-y-reverse));
}

.w-full {
  width: 100%;
}

.pb-4 {
  padding-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}


/* React Toast custom css start here */

/* toastStyles.css */

.Toastify__toast-container {
  width: auto !important;
  /* Set the width to auto to adjust dynamically based on content */
  max-width: 100%;
  /* Optionally, set a maximum width */
}

.Toastify__toast {
  white-space: nowrap !important;
  /* Prevent text wrapping */
  overflow: hidden !important;
  /* Hide overflow */
  text-overflow: ellipsis !important;
  /* Add ellipsis for overflow text */
}

.Toastify__toast-body {
  color: #fff !important;
  /* Set text color to white */
}

.Toastify__toast-icon svg {
  fill: #fff !important;
  /* Set success icon color to white */
}

.Toastify__toast-icon--error svg {
  fill: #fff;
  /* Set error icon color to white */
}

.Toastify__close-button {
  color: #fff;
  /* Set cancel icon color to white */
  margin-top: 10px;
  /* Adjust margin to align cancel icon with text */
}

.Toastify__close-button:hover {
  color: red;
}

.toast-success {
  background-color: #4caf50 !important;
  /* Green background */
  color: #fff !important;
  /* White text */
}

.toast-error {
  background-color: #f44336 !important;
  /* Red background */
  color: #fff !important;
  /* White text */
}

.toast-info {
  background-color: #2196f3 !important;
  /* Blue background */
  color: #fff !important;
  /* White text */
}

.toast-warning {
  background-color: #ff9800 !important;
  /* Orange background */
  color: #fff !important;
  /* White text */
}

.toast-update {
  background-color: #ffc107 !important;
  /* Yellow background */
  color: #000 !important;
  /* Black text */
}

.toast-custom {
  background-color: #9c27b0 !important;
  /* Purple background */
  color: #fff !important;
  /* White text */
}

/* React Toast custom css end here */

/* Custom File upload css start here */

/*css example*/
.mediaUp {
  position: absolute;
  bottom: 15px;
  right: 10px;
  text-decoration: none;
}

.mediaUp i {
  opacity: 0.7;
  cursor: pointer;
  vertical-align: middle;
}

.media img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
  border: 2px solid #555;
}

.autosize {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  background-color: #eeeeee;
  padding: 10px;
}

.faces,
.animals,
.food,
.sport,
.transport,
.symbols,
.objects {
  grid-gap: 2px;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
  margin: auto;
  list-style: none;
  display: grid;
  text-align: left;
  max-height: 250px;
  position: relative;
  outline: none;
}

.animals,
.food,
.sport,
.transport,
.symbols,
.objects {
  display: none;
}

.category {
  padding: 0px;
  margin: auto;
  display: table;
  width: 100%;
  background: rgb(239, 240, 241);
  list-style: none;
}

.emoji {
  position: absolute;
  right: 0px;
  width: 300px;
  z-index: 1050;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border-bottom: 5px solid #c2c2c2;
  margin-top: 5px;
  outline: none;
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2), 0 40px 77px 0 rgba(0, 0, 0, .22);
}

.emojiTrigger {
  position: absolute;
  bottom: 15px;
  right: 10px;
  text-decoration: none;
}

.emojiTrigger i {
  opacity: 0.7;
  vertical-align: middle;
  color: #555;
}

.nav-emoji {
  text-transform: none;
  text-decoration: none;
  padding: 5px;
  position: initial;
  display: table-cell;
  text-align: center;
  background: none;
}

.md-emoji {
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in .1s;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  position: initial;
  font-size: 24px;
  outline: none;
}

.md-emoji:hover {
  transform: scale(1.5);
}

.Formcomment {
  width: 80%;
}

#preview {
  padding: 24px 24px 16px;
}

.Imgpreview img {
  width: 140px !important;
  height: 140px !important;
  border-radius: 10px;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
  margin: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: zoom-in;
}

img.Imgpreview-zoom {
  -ms-transform: scale(2.7);
  -webkit-transform: scale(2.7);
  transform: scale(2.7);
  z-index: 1090 !important;
  background-color: #eee;
  /*box-shadow: 0 0 100px 300px #00a6ff;*/
  cursor: zoom-out !important;
  position: relative;
}

video.Imgpreview-zoom {
  -ms-transform: scale(2.7) !important;
  -webkit-transform: scale(2.7) !important;
  transform: scale(2.7) !important;
  z-index: 1090 !important;
  background-color: #eee !important;
  /* box-shadow: 0 0 100px 300px #00a6ff; */
  cursor: zoom-out !important;
  position: relative !important;
}

span.percent {
  background-color: #17c2d8;
  position: absolute;
  bottom: 9.5px;
  font-size: 10px;
  line-height: 10px;
  padding: 2px 3px 2px 4px;
  right: -1.4em;
  border-radius: 2px;
}

span.percent:after {
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #17c2d8;
  border-width: 5px;
  margin-left: -5px;
  top: 100%;
}

.progress {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: visible;
}

.progress-bar {
  border-top-left-radius: 10px;
  position: relative;
}

.Imgpreview {
  margin: 0 auto;
}

.Imgpreview i.remove {
  border-radius: 50%;
  position: absolute;
  background-color: #e7e7e7;
  cursor: pointer;
  font-size: medium;
  padding: 3px;
  font-weight: 900;
  z-index: 1080;
}

.Imgpreview video {
  width: 140px !important;
  height: 140px !important;
  border-radius: 10px;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
  margin: auto;
  cursor: zoom-in;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: zoom-in;
  object-position: 50% 50%;
  object-fit: cover;
}

.Imgpreview audio {
  width: 400px !important;
  margin: auto;
  border-radius: 100rem;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

textarea {
  outline: none;
  border: 2px solid #dfdfdf;
}

i:focus,
a:focus,
img:focus,
video:focus,
button:focus {
  outline: none;
}

i,
button,
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-group {
  padding-bottom: 10px;
  position: relative;
  margin: 8px 0 0;
}

.progress {
  height: 4px;
}

.progress .progress-bar.progress-bar-info {
  background: #00bcd4;
}

.modal-dialog .modal-content {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .2), 0 40px 77px 0 rgba(0, 0, 0, .22);
  border-radius: 6px;
  border: none;
}

.modal-header {
  border: none;
}

.modal-body {
  border: none;
}

.modal-dialog .modal-footer {
  border: none;
  padding: 24px;
}

/*css loader  https://loading.io/css */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  left: 50%;
  display: block;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #17c2d8;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

.lds-contuner {
  left: 0;
  position: absolute;
  z-index: 1050;
  bottom: 0;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  width: 100%;
  height: 100%;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: block;
  top: 50%;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

/*css jquery.perfect-scrollbar */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto
}

.ps__rail-x {
  height: 15px;
  bottom: 0
}

.ps__rail-x,
.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  position: absolute
}

.ps__rail-y {
  width: 15px;
  right: 0
}

.ps--active-x>.ps__rail-x,
.ps--active-y>.ps__rail-y {
  display: block;
  background-color: transparent
}

.ps--focus>.ps__rail-x,
.ps--focus>.ps__rail-y,
.ps--scrolling-x>.ps__rail-x,
.ps--scrolling-y>.ps__rail-y,
.ps:hover>.ps__rail-x,
.ps:hover>.ps__rail-y {
  opacity: .6
}

.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  background-color: #eee;
  opacity: .9
}

.ps__thumb-x {
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  bottom: 2px
}

.ps__thumb-x,
.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  position: absolute
}

.ps__thumb-y {
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  right: 2px
}

.ps__rail-x.ps--clicking .ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x:hover>.ps__thumb-x {
  background-color: #999;
  height: 11px
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y:hover>.ps__thumb-y {
  background-color: #999;
  width: 11px
}

@supports (-ms-overflow-style:none) {
  .ps {
    overflow: auto !important
  }
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
  .ps {
    overflow: auto !important
  }
}


/* Custom File upload css end here */

/* Custom image avatar start here  */

.avatar-tiny {
  width: 24px;
  height: 24px;
  font-size: 12px;
}

.avatar-small {
  width: 36px;
  height: 36px;
  font-size: 18px;
}

.avatar-medium {
  width: 44px;
  height: 44px;
  font-size: 24px;
}

.avatar-large {
  width: 72px;
  height: 72px;
  font-size: 36px;
}

.avatar-big {
  width: 96px;
  height: 96px;
  font-size: 48px;
}

/* Custom image avatar start here  */

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-item:active {
  color: black !important;
  text-decoration: none !important;
  background-color: #f8f9fa !important;
}


/* Define keyframes for a mind-blowing animation */
@keyframes menuSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }

  80% {
    transform: translateY(10px) scale(1.02);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes menuSlideOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  20% {
    transform: translateY(10px) scale(1.02);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
}

/* Apply the animations to the menu */
.animated-dropdown-menu {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  transform-origin: top right;
}

.dropdown-menu.show {
  animation-name: menuSlideIn;
}

.dropdown-menu.hide {
  animation-name: menuSlideOut;
}